body {
    font-family: Arial;
    background-color: #f4f6f8;
    padding: 20px;
}

form {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

select, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
}
